* {
    color: #212121;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    background-color: #FFF8F8;
    display: flex;
    /*align-items: flex-start;*/
    flex-flow: row wrap;
    margin: 5px 5px;
    color: #484848;
}

.card {
    display: flex;
    flex-shrink: 0 0 50%;
    background-color: #B3E5FC;
    flex-flow: column nowrap;
    margin: 10px 10px;
    width: 300px;
    height: 608px;
    box-shadow: 2px 2px #888888;
}

header > h2 {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    margin: 0 0 2px 0;
    text-align: center;
    border: solid 1px #BDBDBD;
    background-color: #75c4ef;
    color: #FFFFFF;
}

.imgPizza {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.descriptionText {
    height: 120px;
    text-align: justify;
    padding: 2%;
    margin: 0 auto;
    font-size: .8em;
}

.cardDescription {
    position: relative;
}

.pseudoFoot {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: .9em;
    background-color: #FF5252;
    color: #FFFFFF;
}

h4 {
    padding: 5px;
    margin: 0;
    padding-bottom: 2px;
}

section.cardSpecs > p, section.cardPricing > p {
    margin: 1px;
    font-weight: bold;
    font-size: .8em;
    position: relative;
    left: 15px;
}

footer > p {
    margin: 0;
    padding: 5px 5px 10px 5px;
    font-size: .75em;
}

.cardPricing {
    margin-bottom: 5px;
}

.imgNotAvailable {
    position: absolute;
    width: 90%;
    top: 4%;
    left: 4%;
}
